<div class="container">
	<div class="article-main">
		<div class="row">
			<div class="col-md-2">
				<b><%= @article.created_at.strftime("%B %e, %Y") %></b>
			</div>
			<div class="col-md-9">
				<h2><%= @article.title %></h2>
				<div class="image-wrapper">
				</div>
				<div class="text">
					<p><%= @article.text %><p>
				</div>			
			</div>
		</div>
	</div>



</div>