/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

$dark-blue: #0c1527;
$light-blue: #0c2547;
$border-styling: 1px solid $light-blue;
$serif: "baskerville-urw",serif;
%content-bg {
	background-color: $dark-blue;
	border: $border-styling;
}
$text-color: #aeaeae;
$title-color: #e0e0e0;

body {

	background: url('nav-header.png') no-repeat 50% 0, url('background.png') no-repeat 50% 0;
	background-color: #000;
}
.navigation-wrapper {
	height: 178px;
	padding-top: 122px;
	font-family: $serif;
	background: url('menu-panel.png') no-repeat 50% 102%;
	overflow: visible;

	/*ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display:inline;
		position: relative;
		
		> li {
		display: inline;
		}

		a {
			display: block;
			text-decoration: none;
		}

		ul {
			display:none;
			position:absolute;
			top:100%;
			left:0;
			background:#fff;
			padding:0;

			li {
				float:none;
				width:200px;
			}
		}

	}*/


}

/*#primary_nav_wrap
{
	margin-top:15px
}*/

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color: #c48e38;
	text-decoration:none;
	font-weight:300;
	line-height:32px;
	font-size: 18px;
	padding:10px 10px 5px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


// #primary_nav_wrap ul li:hover
// {
// 	border-bottom: 2px #be814b solid;
// }

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: #141d2e;
	padding:0;
	border: 1px solid #be814b;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul li:hover a
{
	color: darken( white, 10%);

}
	

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
	color: darken( white, 25%);
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.left-menu {
	float:left;
}

.right-menu {
	float:right;
}

.nav-header {
	overflow: hidden;
}

#home {
	top:-3px;
}


.hero-wrapper {
	overflow: hidden;
	text-align: center;
	position: relative;
	z-index: -99;
}

.img-wrapper {
	height:50px;
	width: 1000px;
	overflow: hidden;
}

.main-wrapper {
	@extend %content-bg;
	padding: 50px 50px 20px 50px;
	margin-bottom: 20px;
}

.container.main {
	position: relative;
	// z-index: -10;
	overflow: visible;
}
.leaf-overlay-top {
	width: 960px;
	height: 189px;
	// background: url('leaf.png') no-repeat;
	z-index: 100;
	position: absolute;
	// bottom: 5px;
	top: -8px;
	left: 2px;
}
.leaf-overlay-bottom {
	width: 960px;
	height: 189px;
	// background: url('leaf.png') no-repeat;
	z-index: 100;
	position: absolute;
	// bottom: 5px;
	bottom: 39px;
	left: -2px;
}

.article {
	padding-bottom: 25px;
	border-bottom: $border-styling;
	margin-bottom: 25px;
	h3 {
		color: $title-color;
		font-family: $serif;
		font-weight: 300;
		font-size: 18px;
		margin-bottom: 2px;
	}
	.image-thumbnail {
		height: 175px;
		width: 260px;
		overflow: hidden;
	}
	.date {
		color: #6f6e6e;
		margin-bottom: 18px;
	}
	.text {
		color: $text-color;
	}
	.link {
		margin-top: 10px;
		float:right;
		position: relative;
		z-index: 999999;
	}
}

.footer {
	margin: 10px 0 20px;
	h4 {
		font-size: 12px;
		margin: 5px 0 0px;
	}
	a {
		font-size: 12px;

	}
}

div.pagination {
	display: block;
}

.pagination {
	margin: 0;
}

.main-wrapper .pagination {
	position: relative;
	z-index: 99999;
}

.article-main {
	@extend %content-bg;
	padding-bottom: 60px;
	margin-bottom: 25px;
	h2 {
		font-family: $serif;
		font-size: 45px;
		color: $title-color;
	}
	p {
		color: $text-color;
		line-height: 1.5;
	}
}

.image-wrapper {
	margin-bottom: 40px;
	height: 280px;
	background-color: black;
}


