// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$date-font: 'taranisregular', serif;

.article-main .date {
	font-family: $date-font;
	color: #925e31;
	background: url('date-bg.png') no-repeat;
	height: 50px;
	width: 113px;
	text-align: center;
	padding-top: 12px;
	margin: 55px 0 0 25px;
	font-size: 13px;
}