@font-face {
    font-family: 'taranisregular';
    src: url('/assets/taranis-webfont.eot');
    src: url('/assets/taranis-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/taranis-webfont.woff2') format('woff2'),
         url('/assets/taranis-webfont.woff') format('woff'),
         url('/assets/taranis-webfont.ttf') format('truetype'),
         url('/assets/taranis-webfont.svg#taranisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}